@charset "UTF-8";

/* GENERAL */
body, html {
	margin: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	background-color: #F8F8F8;
	font-family: Geneva, Tahoma, Verdana, sans-serif;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: black;
}


/* HEADER */
h1 {
	margin: 0;
	padding: 10px 0 0;
	text-align: center;
	font-size: 1.2em;
}

header {
	position: fixed;
	/*position: sticky;*/
	top: 0;
	min-width: 100%;
	background-color: #F8F8F8;
	/*border-bottom: 1px rgba(0, 0, 0, 0.2) solid;*/
	z-index: 1;
}

.nav-link {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.7em;
	font-weight: 300;
	color: black;
}

.nav-link:focus, .nav-link:hover {
	text-decoration: underline;
}

#nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;

	padding-top: 0;
	padding-bottom: 0px;
	padding-left: 0;
	list-style-type: none;
}

/* MAIN */
.contact-field {
	display: block;
	margin: 10px auto;
	border: 1px black solid;
	border-radius: 4px;
	padding: 5px;
	min-width: 70%;
	text-align: center;
}

.credit {
	position: absolute;
	bottom: 0;
	right: 0;

	/* via Unsplash */
	display: inline-block;
	/*border-radius: 3px;*/
	padding: 4px 6px;
	background-color: black;
	line-height: 1.2;
	text-decoration: none;
	font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
	font-size: 12px;
	/*font-weight: bold;*/
	color: white;
}

.credit-graphics { /* via Unsplash */
	display: inline-block;
	padding: 2px 3px;
}

.credit-name { /* via Unsplash */
	display: inline-block;
	padding: 2px 3px;
}

.credit-svg { /* via Unsplash */
	height: 12px;
	width: auto;
	position: relative;
	vertical-align: middle;
	top: -2px;
	fill:white;
}

.work {
	display: block;
	position: relative;
	margin: 20px auto;
	width: 80%;
	height: 200px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: opacity 0.4s ease-in;
}

.work:focus {
	outline: none;
	opacity: 0.4;
	filter: alpha(opacity=400); /* IE 8 and below */
}

#about { /* make picture and text display on the same line on large screen widths */
	margin-top: 100px; /* Fixed header */
	/*margin-top: 70px; Sticky header */
	font-family: serif;
	font-weight: normal;
}

#about-picture {
	display: block;
	margin: 0 auto;
}

#about-text {
	padding: 0 10px;
	text-align: center;
	font-weight: 400;
}

#contact {
	margin-bottom: 70px;
}

#contact-submit {
	display: block;
	margin: 0 auto;
	border: 1px black solid;
	border-radius: 4px;
	min-width: 10%;
	padding: 4px 6px;
	background-color: #DEDEED;
}

#work-box {
	/*background-image: url("../img/background_box.jpg");*/
	background-image: url("https://images.unsplash.com/photo-1512418490979-92798cec1380?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
}

#work-calculator {
	/*background-image: url(../img/background_calculator.jpg);*/
	background-image: url("https://images.unsplash.com/photo-1516201580490-33550d32de5c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
}

#work-collatz {
	/*background-image: url(../img/background_collatz.jpg);*/
	background-image: url("https://images.unsplash.com/photo-1529078155058-5d716f45d604?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=749&q=80");
}

#work-colour {
	/*background-image: url(../img/background_colour.jpg);*/
	background-image: url("https://images.unsplash.com/photo-1485487656106-d6aa01db3271?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=712&q=80");
}

#work-contact {
	/*background-image: url(../img/background_contacts.jpg);*/
	background-image: url("https://images.unsplash.com/photo-1550238309-a58c7048646c?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
}

#work-memory {
	/*background-image: url(../img/background_memory.jpg);*/
	background-image: url("https://images.unsplash.com/photo-1559757175-0eb30cd8c063?ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80");
}

#work-phone {
	/*background-image: url(../img/background_phone.jpg);*/
	background-image: url("https://images.unsplash.com/photo-1532356884227-66d7c0e9e4c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
}

#work-player {
	/*background-image: url(../img/background_player.jpg);*/
	background-image: url("https://images.unsplash.com/photo-1495305379050-64540d6ee95d?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
}

#work-recipe {
	/*background-image: url(../img/background_recipe.jpg);*/
	background-image: url("https://images.unsplash.com/photo-1495521821757-a1efb6729352?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=367&q=80");
}

#work-storage {
	/*background-image: url(../img/background_storage.jpg);*/
	background-image: url("https://images.unsplash.com/photo-1551313158-73d016a829ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=722&q=80");
}

#work-tic {
	/*background-image: url(../img/background_tic.jpg);*/
	background-image: url("https://images.pexels.com/photos/220057/pexels-photo-220057.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
}

#work-todo {
	/*background-image: url(../img/background_todo.jpg);*/
	background-image: url("https://images.unsplash.com/photo-1540350394557-8d14678e7f91?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80");
}

#work-watch {
	/*background-image: url(../img/background_watch.jpg);*/
	background-image: url("https://images.unsplash.com/photo-1509048191080-d2984bad6ae5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80");
}

#works {
	/*display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 100px;*/
}


/* FOOTER */
footer {
	position: fixed;
	min-width: 100%;
	bottom: 0;
	padding: 10px 0;
	background-color: #F8F8F8;
	text-align: center;
	font-size: 0.8em;
	font-weight: 300;
}

.more-link {
	color: black;
}

.more-link:hover, .more-link:focus {
	color: blue;
}

.more-link:active {
	color: red;
}

#copyright {
	display: block;
	padding-top: 5px;
}

#more {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;

	padding-top: 5px;
}